.header {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.center1 {
  width: 90%;
  margin: auto;
}
.contact {
  margin-right: 30px;
  font-size: 22px;
}
.contact-number {
  color: #00bf4d;
}
.contact {
  margin-right: 30px;
}
.center {
  width: 100%;
  margin: auto;
  padding: 2px 0;
  padding-left: 4%;
}
.navbar-nav {
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .column1 {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
